{% extends "base.html" %}
{% block title %}Home - Idk Cave{% endblock %}
{% block content %}
<h2 data-aos="fade-up" id="typing-text"></h2>

<script>
  const txt = "Welcome to Idk Cave - A Discord server like no other...";
  let i = 0;
  function typeWriter() {
    if (i < txt.length) {
      document.getElementById("typing-text").innerHTML += txt.charAt(i);
      i++;
      setTimeout(typeWriter, 80);
    }
  }
  document.addEventListener("DOMContentLoaded", typeWriter);
</script>
<a href="https://discord.gg/HxzCtdvDdg" class="discord-button" target="_blank" data-aos="zoom-in" data-aos-delay="300">Join Our Discord</a>
{% endblock %}

